.banner
{
background-image: url('../../assets/img/emploi.jpg');
height: 450px;
background-position: center top;
background-size: cover;
}
::content h1
{
    color: blue;
    top: 30%;
    font-size: 20px;
    position: absolute;
}