<mat-nav-list>

    <h2 matSubheader class="mt-2">APPLICATIONS</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/profile">
      <mat-icon>person_outline</mat-icon> Profil
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashbord">
      <mat-icon>dashboard</mat-icon> Dashboard
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/list-profil"> <mat-icon>edit</mat-icon> Gerer Profil </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/condidatures"> <mat-icon>edit</mat-icon> Gerer condidatures </a>
    <a mat-list-item> <mat-icon>edit</mat-icon> Link 5 </a>
    <a mat-list-item> <mat-icon>edit</mat-icon> Link 6 </a>
  </mat-nav-list>
