<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
​
<body>
  <div class="toolbar">
    <div class="follow">
      <button class="btn btn-fab btn-primary btn-round" rel="tooltip" title="" data-original-title="Follow this user">
        <i class="material-icons" routerLink="/add-condidature">add</i></button>

    </div>
    <!-- <div class="add-condidature">
      <button type="submit" class="btn btn-outline-success my-2 my-sm-0"
        data-bs-target="#exampleModal" #addCondidatureButton>Add Condidature</button>
    </div> -->



    <form action="form-inline my-2 my-lg-0">
      <input class="form-control" type="Search" placeholder="Search Condidature"  aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>

  </div>
    <div class="team-boxed">
        <div class="container">
            <div class="intro">

                <h2 class="text-center">Condidatures </h2>
                <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae.</p>
            </div>
            <div class="row people">
                <div class="col-md-6 col-lg-4 item">
                    <div class="box">
                      <div>
                      <button type="button" class="btn btn-outline-success"
                         >Edit</button>
                      <button type="button" class="btn btn-outline-danger"
                         >Delete</button>
                  </div>
                      <img class="rounded-circle" src="assets/img/user.jpg">
                        <h3 class="name">Ben Johnson</h3>
                        <p class="title">Web Designer  </p>
                        <a href="#" class="mt-auto btn btn-primary  " >Read More</a>

                      </div>
                </div>

                <div class="col-md-6 col-lg-4 item">

                    <div class="box">
                      <div>
                        <button type="button" class="btn btn-outline-success"
                           >Edit</button>
                        <button type="button" class="btn btn-outline-danger"
                           >Delete</button>
                    </div>
                      <img class="rounded-circle" src="assets/img/user.jpg">
                        <h3 class="name">Emily Clark</h3>
                        <p class="title">Engineer</p>
                        <a href="about" class="mt-auto btn btn-primary  " >Read More</a>
                      </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div class="box">
                      <div>
                        <button type="button" class="btn btn-outline-success"
                           >Edit</button>
                        <button type="button" class="btn btn-outline-danger"
                           >Delete</button>
                    </div>
                      <img class="rounded-circle" src="assets/img/user.jpg">
                        <h3 class="name">Carl Kent</h3>
                        <p class="title">Designer</p>
                        <a href="#" class="mt-auto btn btn-primary  ">Read More</a>
                             </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>
​
</html>
